#video-background {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}
/* Stili per il layout centrato su schermi più grandi */
.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
/* Stili per il layout responsivo su dispositivi mobili */
@media (max-width: 767px) {
.container {
height: auto;
padding: 20px;
}
}
h1, h2, h3, label, table {
	font-family: "Ubuntu", sans-serif; /* Font desiderato per h1 */
}
h1, h2, h3, label {
	color: black;
}




